# ==========================================
# PORTAL PMR SPADAN - ENVIRONMENT VARIABLES
# ==========================================
# Salin file ini menjadi `.env` di komputer lokal Anda:
# cp .env.example .env
#
# Masukkan konfigurasi project Supabase Anda:
VITE_SUPABASE_URL=https://ndahxwqshyukqpnjkniw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kYWh4d3FzaHl1a3Fwbmprbml3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxNjEzODUsImV4cCI6MjEwNDczNzM4NX0.lkxXa2M16275nkjNKnWN3KE5NT7J1BVoyEO7xVAxJt8
